# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Basic use of Jupyter notebook
- Popularlanguages for data science
- Popular libraries for data data science
- Popular tools for data science
- Simple arithmetic operation using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. Matplotlib

### My data science table tools
<div align="left"> 
    
| Data Sience Tools |
|-------------------|
| JupyterLab        |
| RStudio           |
| Google Colab      |

</div>

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes /60
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Adebayo Sowemimo